.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env
*.sqlite3
.DS_Store
data/*
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
models/*
!models/.gitkeep
reports/*
!reports/.gitkeep
mlruns/
